


<%= form_tag('/', method: :get) do %>
  <%= label_tag 'Search By ID' %>
  <br>
  <%= text_field_tag :user_id %>
  <%= submit_tag 'Load my Photos' %>
<% end %>

<% if params[:user_id] %>
	<%= @user_id %> 
	
	<h1><%= @user_id.username %> 's Photos </h1>



		<% @photos.each do |photo| %>
			<% info = flickr.photos.getInfo(:photo_id => photo.id) %>
			<%= link_to image_tag(FlickRaw.url_m(info)), FlickRaw.url_b(info) %>	
		<% end  %>

		
	
<% end %>	



	<li><%= link_to "Search by Tag", static_pages_search_path %></li>
	<li><%= link_to "Home", root_path %></li>
