


<%= form_tag('/search', method: :get) do %>
  <%= label_tag 'Search By ID' %>
  <br>
  <%= text_field_tag :user_id %>
  <%= submit_tag 'Load my Photos' %>
<% end %>

<% if params[:user_id] %>
	<%= @user_id %> 
<% end %>	




	<li><%= link_to "Home", root_path %></li>
