


<%= form_tag('/search', method: :get) do %>
  <%= label_tag 'Search By ID' %>
  <br>
  <%= text_field_tag :user_id %>
  <%= submit_tag 'Load my Photos' %>
<% end %>

<% if params[:user_id] %>
	<%= @user_id %> 
  <%= @photos.inspect %>
		<% @photos.each do |photo| %>
		<% info = flickr.photos.getInfo(:photo_id => photo.id) %>
			<%= image_tag FlickRaw.url_z(info) %>	
			
		<% end  %>	
	
<% end %>	




	<li><%= link_to "Home", root_path %></li>
