  	<header class="navbar navbar-fixed-top navbar-inverse">
  		<div class="container">
  			<%= link_to "Flika App", root_path, id: "logo" %>
  			<nav>
  				<ul class="nav navbar-nav navbar-right">
  					<li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Todays Pics", static_pages_todayspics_path %></li>
            <li><%= link_to "Search by Tag", static_pages_search_path %></li>
            <li><%= link_to "About", static_pages_about_path %></li>
  				</ul>
  			</nav>
  		</div>
  	</header>